.H-h1 {
    color: #005eb8;
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 0;
    margin-right: 20px
}
.blog-info-categories a {
    font-family: sans-serif;
    font-variant: small-caps;
    text-decoration: none;
    color: #f59000;
}
.blog-info-readtime{
    color: #6c6e70;
}
.blog-info-time{
    color: #6c6e70;
}
.title-wrapper {
    padding: 5px 5px 5px 5px ;
    width: 60%;
}